body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    flex: auto;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 20;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    width: 50;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#shortened {
    padding: 0.25rem;
    position: fixed;
    top: 150px;
    left: 30px;
    right: 30px;
    display: flex;
    height: 3rem;
    width: 50;
    box-sizing: border-box; 
}
#connection {
    flex: auto;
    justify-items: center;
    padding: 0.25rem;
    position: fixed;
    top: 200px;
    left: 30px;
    right: 30px;
    display: flex;
    height: 3rem;
    width: 50;
    box-sizing: border-box; 
}
.connection-button {
    margin: 10px;
}

#status-box {
    flex: auto;
    justify-items: center;
    padding: 0.25rem;
    position: fixed;
    top: 250px;
    left: 30px;
    right: 30px;
    display: flex;
    height: 3rem;
    width: 50;
    box-sizing: border-box; 
}